.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}